/* ------------- nav ------------- */
.label-browser {
  display: none;
}
.list-cont {
  position: static;
  display: block;
  width: auto;
  left: 2rem;
  background-color: transparent; 
  border: none;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  column-gap: 2rem;
}
.link {
  height: auto;
  width: auto;
  font-size: 1.4rem;
}
/* ------------- search ------------- */
.search-cont {
  width: auto;
}
/* ------------- notification ------------- */
.notification-cont {
  max-width: 320px;
  height: 400px;
}
/* ------------- .trailer-movie ------------- */
.trailer {
  width: auto;
  height: 125%;
}

.ftr__list,.list-social-media {
  margin:  4rem auto;
  max-width: 1000px;
}
.ftr__list {
  grid-template-columns: repeat(4,1fr);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}