/* ------------- nav ------------- */
.label-browser {
  display: none;
}
.list-cont {
  position: static;
  display: block;
  width: auto;
  left: 2rem;
  background-color: transparent; 
  border: none;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  column-gap: 2rem;
}
.link {
  height: auto;
  width: auto;
  font-size: 1.4rem;
}
/* ------------- search ------------- */
.search-cont {
  width: auto;
}
/* ------------- notification ------------- */
.notification-cont {
  max-width: 320px;
  height: 400px;
}
/* ------------- .trailer-movie ------------- */
.trailer-movie {
  height: 70vh;
  background-color: #000000;
}
.trailer {
  width: 100%;
}
.trailer-info {
  margin-top: 12%;
}